* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: linear-gradient(120deg, #eef2f3, #d9e2ec);
  min-height: 100vh;
}

.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #ffffff;
  width: 380px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

h2, h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

Input, textarea, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

textarea {
  resize: none;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #2563eb;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background-color: #1e40af;
}

.logout-btn {
  width: auto;
  margin-bottom: 15px;
  margin-top: 20px;
  background: #dc2626;
}

.logout-btn:hover {
  background: #991b1b;
}

.dashboard {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.flex {
  display: flex;
  gap: 30px;
}

.column {
  flex: 1;
}

.task {
  background: #f9fafb;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 10px;
}

.drop-hover {
  background-color: #d1fae5;
  border-color: #10b981;
}
